mat-tree-node {
  align-items: center;
  display: flex;
  padding-left: 10px;
  background-color: #373737;
  color: white;
}

.color-line {
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  width: 2px;
}

button[mat-icon-button] {
  background-color: #373737;
  border: none;
  height: 50px;
  margin-right: 10px;
  width: 50px;
  color: white;
}

mat-icon {
  vertical-align: middle;
}

.leaf {
  padding-left: 58px;
}

.container {
  width: 50%;
}